.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--green-400);
  color: var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.whatsapp-float:hover {
  background-color: var(--green-500);
  transform: scale(1.1);
}
@media (max-width: 450px) {
  .whatsapp-float {
    width: 70px;
    height: 70px;
    font-size: 40px;
    bottom: 20px;
    right: 15px;
  }
}
