header {
  width: 100%;
  height: auto;
  align-items: center;
}

header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.9rem;
}

header .section-navigation {
  display: none;
}
header .logo-navigation {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
header .logo-navigation img {
  width: 40px;
  margin-right: 0.875rem;
}

header .navigation .mobile-menu-icon button {
  border: transparent;
  padding: 0.3rem;
  font-size: 25px;
  color: #fff;
  background-color: #171717;
  cursor: pointer;
  margin: 0 0.575rem;
}

header .navigation .mobile-menu-icon .close-menu {
  display: none;
}
.open-menu.hide {
  display: none;
}

.close-menu.show {
  display: block !important;
}

header .mobile-menu {
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-800);
}
header .mobile-menu.active {
  display: flex;
}
header .mobile-menu ul {
  list-style: none;
}
header .mobile-menu ul > li {
  padding: 1.225rem;
  border-bottom: 1px solid #fff;
  width: 470px;
  opacity: 0.7;
}

header .mobile-menu ul > li > a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in;
}

header .mobile-menu ul > li > a:hover {
  color: var(--red-500);
}

header .mobile-menu .nav-btn-mobile {
  width: 85%;
  background-color: var(--red-500);
  margin: 0.9rem 0 1.95rem 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

header .mobile-menu .nav-btn-mobile:hover {
  width: 89%;
  box-shadow: var(--red-900) 0px 5px 5px -1px, var(--red-900) 0px 2px 7px -3px;
  font-size: 19px;
  cursor: pointer;
}
