.section-home {
  background-image: linear-gradient(
      to bottom,
      var(--bg-opacity-30),
      var(--bg-opacity-90)
    ),
    url(/assests/img/BackImg.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.section-home .Content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-home .Content h1 {
  margin-top: 13rem;
  color: var(--white);
  font-size: 37px;
  margin-bottom: 1.2rem;
}

.section-home .Content span {
  color: var(--indigo-700);
}

.section-home .Content p {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 3.5rem;
}
.section-home .Content .btn-home {
  display: flex;
  flex-direction: column;
}

.section-home .Content .btn-home a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  width: 400px;
  background-color: var(--purple-600);
  text-align: center;
  padding: 0.9rem 0.775rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.section-home .Content .btn-home a:hover {
  background-color: var(--purple-500);
}

.seta {
  margin-left: 1rem;
}

.gradient-text {
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    var(--hsl-purple-800),
    var(--hsl-purple-600),
    var(--purple-500)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
  .section-home {
    height: 90vh;
    max-width: 100%;
    background-image: linear-gradient(
        to right,
        var(--indigo-700),
        var(--bg-opacity-90)
      ),
      url(/assests/img/BackImg.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .section-home .Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 5%;
  }

  .section-home .Content h1 {
    margin-top: 0;
    font-size: 60px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-home .Content p {
    font-size: 22px;
    text-align: left;
    max-width: 500px;
  }
}
