.section-footer {
  text-align: left;
  width: 500px;
  margin-top: 4rem;
  border-top: 1px solid var(--gray-600);
  border-bottom: 1px solid var(--gray-600);
  background-color: var(--black-700);
  margin-bottom: 2rem;
}

.section-footer .logo-section-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-footer .logo-section-footer img {
  width: 40px;
}

.section-footer .logo-section-footer h2 {
  margin-bottom: 0.6rem;
}

.section-footer .logo-section-footer a {
  padding: 0.3rem 2rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--hsl-purple-800);
  border-radius: 8px;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.section-footer .logo-section-footer a:hover {
  background-color: var(--purple-500);
  cursor: pointer;
}

.section-footer .logo-section-footer p {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 1rem;
}

.section-footer .contact {
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.section-footer .contact .contactDiv .container-div-contact {
  display: flex;
  margin-bottom: 1.7rem;
  color: var(--white);
}

.section-footer .contact .contactDiv .container-div-contact i {
  color: var(--hsl-purple-800);
}

.section-footer .contact .contactDiv .container-div-contact p {
  margin-left: 0.5rem;
}

.section-footer .contact .contactDiv .container-div-contact a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.section-footer .contact .contactDiv .container-div-contact a:hover {
  color: var(--hsl-purple-800);
}

.faq-footer {
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.faq-footer h2 {
  margin-bottom: 1rem;
}

.faq-container {
  width: 95%;
  box-shadow: none;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.faq-question {
  padding: 0.5rem 0.7rem;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: var(--gray-900-10-opacity);
  color: var(--white);
  text-align: center;
  width: 428px;
}

.faq-question:hover {
  opacity: 0.7;
}

.faq-answer p {
  color: var(--white);
  background-color: var(--gray-900-10-opacity);
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.faq-item {
  border: none;
  margin-bottom: 0.5rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer.active {
  max-height: 400px;
}

@media (min-width: 992px) {
  .section-footer {
    display: flex;
    align-items: center;
    justify-content: ce;
    flex-direction: row;
    width: 100%;
  }

  .faq-footer {
    margin-left: 15rem;
    margin-right: 15rem;
    width: 600px;
  }
  .logo-section-footer {
    width: 800px;
  }
}
