.section-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem;
  text-align: left;
}
.section-plans p,
h2 {
  color: var(--white);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.section-plans h2 {
  font-size: 30px;
}

.section-plans .container-plans {
  background-color: var(--black-700);
  border: 2px solid var(--hsl-purple-800);
  border-radius: 8px;
  padding: 2rem 3rem;
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.section-plans .container-plans .header-container h2 {
  font-size: 23px;
  margin-bottom: 0;
}

.section-plans .container-plans .header-container p {
  font-size: 33px;
  font-weight: bold;
}

.section-plans .container-plans .header-container span {
  font-weight: 200;
  font-size: 15px;
  margin-left: 0.4rem;
}
