.section-footer {
  text-align: left;
  max-width: 500px;
  margin-top: 4rem;
  border-top: 1px solid var(--gray-600);
  border-bottom: 1px solid var(--gray-600);
  background-color: var(--black-700);
  margin-bottom: 2rem;
}

.section-footer .logo-section-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-footer .logo-section-footer img {
  width: 40px;
}

.section-footer .logo-section-footer h2 {
  margin-bottom: 0.6rem;
}

.section-footer .logo-section-footer a {
  padding: 0.3rem 2rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--hsl-purple-800);
  border-radius: 8px;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.section-footer .logo-section-footer a:hover {
  background-color: var(--purple-500);
  cursor: pointer;
}

.section-footer .logo-section-footer p {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 1rem;
}

.section-footer .contact {
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.section-footer .contact .contactDiv .container-div-contact {
  display: flex;
  margin-bottom: 1.7rem;
  color: var(--white);
}

.section-footer .contact .contactDiv .container-div-contact i {
  color: var(--hsl-purple-800);
}

.section-footer .contact .contactDiv .container-div-contact p {
  margin-left: 0.5rem;
}

.section-footer .contact .contactDiv .container-div-contact a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.section-footer .contact .contactDiv .container-div-contact a:hover {
  color: var(--hsl-purple-800);
}
